<!DOCTYPE html>
<html lang="en" ng-app ="pokeApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanyi &amp; DG's fantastic AngularJS Pokemon site</title>
    <link href="../modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="sanyidg.css"/>
</head>
<body ng-controller="pokecontroller">

    <div class="container hcenter">
        <div class="row" >
            <div class="col-sm-offset-2 col-sm-8" >

                <h2 class="text-center">Sanyi &amp; DG's pokemon site built by AngularJS</h2>
                <div class="panel-group">

                    <div class="panel panel-info">
                        <div class="panel-heading">

                            <div class="row">
                                <div class="col-sm-7" style="vertical-align: middle">
                                    <h4>The original 151 pokemons</h4>
                                </div>
                                <div class="col-sm-5 text-right">
                                    <div style="display: inline" class="controls form-inline">
                                        <input ng-model="searchFilter" type="search" placeholder="Search" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row text-left" set-class-when-at-top="fix-to-top" padding-when-at-top="0">
                                <div class="col-sm-1">
                                    <strong>ID</strong>
                                </div>

                                <div class="col-sm-3">
                                    <strong>Image</strong>
                                </div>

                                <div class="col-sm-3">
                                    <strong>Name</strong>
                                </div>

                                <div class="col-sm-5 text-right">
                                    Order by:
                                    <a href="#" ng-click="orderById()">
                                        ID
                                    </a> |
                                    <a href="#" ng-click="orderByName()">
                                        Name
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="text-center before20px" ng-show="loading" ><img src="loader.gif" /> </div>
                            <div class="text-center before20px errorMessage" ng-if="loadError" >{{ loadError }} </div>
                            <div ng-repeat="pokemon in pokemons | filter: filterPokemons |  orderBy: orderBy track by pokemon.id"
                                 ng-class="(pokemon.id%2 == 0) ? 'pokemonRow pokemonRowEven'  : 'pokemonRow'">
                                <div class="row">

                                    <div class="col-sm-1 vcenter">
                                        <span class="pokemonId">{{pokemon.id}}</span>
                                    </div><!--
                                 --><div class="col-sm-3 vcenter">
                                        <img src="loader.gif" ng-src="{{ pokemon.id ? '//raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + pokemon.id + '.png' : 'loader.gif' }}" />
                                    </div><!--
                                 --><div class="col-sm-3 vcenter">
                                        <a class="pokemonName" href="{{pokemon.url}}" target="_blank" >{{ pokemon.name}}</a>
                                    </div><!--
                                 --><div class="col-sm-5 vcenter text-right">
                                        <span ng-if="!details[pokemon.id] || details[pokemon.id]['hidden']"  ng-click="getDetails(pokemon.id)">
                                            <button type="button" class="btn btn-info btn-sm">
                                              <span class="glyphicon glyphicon-chevron-down"></span> Show details
                                            </button>
                                        </span>
                                        <span ng-if="details[pokemon.id] && !details[pokemon.id]['hidden']" ng-click="closeDetails(pokemon.id)">
                                            <button type="button" class="btn btn-warning btn-sm">
                                              <span class="glyphicon glyphicon-chevron-up"></span> Hide
                                            </button>
                                        </span>
                                    </div>

                                    <div id="pokemonDetails" ng-if="details[pokemon.id] && !details[pokemon.id]['hidden']" class="animate-if">
                                        <div class="col-sm-offset-3">
                                            <img  src="loader.gif" ng-if="details[pokemon.id] === 1" />
                                            Height: {{details[pokemon.id].height}}
                                            Weight: {{details[pokemon.id].weight}}
                                            Base XP: {{details[pokemon.id].base_experience}}
                                            Types:
                                            <span ng-repeat="type in details[pokemon.id].types">
                                                {{type.type.name}}
                                            </span>
                                        </div>
                                    </div>
                                <hr>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</body>
<script src="../modules/angular/angular.min.js"></script>
<script src="../modules/angular-animate/angular-animate.min.js"></script>
<script src="sanyidg.js" type="application/javascript"></script>
</html>