.pokemonRowEven > .row {
    background: rgb(251, 251, 251);
}

.pokemonRow :hover{
    background: rgb(245, 245, 245);
}

.pokemonName {
    text-transform: capitalize;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.hcenter {
    margin: auto;
}

.before20px {
    margin-top: 20px;
}

.after20px {
    margin-bottom: 20px;
}

.errorMessage {
    color: red;
    font-weight: bolder;
}

.fix-to-top {
    position: fixed;
    top: 0px;
    /*height: 20px;*/
    z-index: 999;
    width: 50%;
    background-color: white;
}

/* animation */
#pokemonDetails {

    height: 40px;
    margin-top: 15px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition: 1s linear all;
    -moz-transition: 1s linear all;
    -ms-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
}

.animate-if.ng-enter {
    max-height: 0;
    opacity: 0;
}

.animate-if.ng-enter.ng-enter-active {
    max-height: 40px;
    opacity:1;
}

.animate-if.ng-leave {
    max-height: 40px;
    opacity:1;
}

.animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity:1;
}
/* end of animation */

/* overriding */
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

.glyphicon:hover {
    background-color: initial;
}

.btn-info:hover {
    /*color: #31708f;*/
    background-color: #31708f;
    /*border-color: #285e8e;*/
}

.btn-warning:hover {
    background-color: #8a6d3b;
}